<%= form_with(model: latest_news_article, local: true) do |form| %>
  <% if latest_news_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(latest_news_article.errors.count, "error") %> prohibited this latest_news_article from being saved:</h2>

      <ul>
      <% latest_news_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group"> 
        <%= form.label :title %>
        <%= form.text_field :title, id: :latest_news_article_title, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group"> 
        <%= form.label :body %>
        <%= form.text_area :body, id: :latest_news_article_body, class: "form-control", required: "required", rows: 5 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group"> 
        <%= form.label :image_url %>
        <%= form.text_field :image_url, id: :latest_news_article_image_url, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-4 btn-block" %>
  </div>
<% end %> 
