<p id="notice"><%= notice %></p>

<h1>Latest News Articles</h1>

<%= link_to 'New Latest News Article', new_latest_news_article_path, class: "btn btn-primary" %>

<table id="example" class="display blog-table" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image url</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @latest_news_articles.each do |latest_news_article| %>
      <tr>
        <td><%= latest_news_article.title %></td>
        <td><%=raw latest_news_article.body %></td>
        <td><%= latest_news_article.image_url %></td>
        <td><%= link_to 'Edit', edit_latest_news_article_path(latest_news_article) %></td>
        <td><%= link_to 'Delete', latest_news_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
