<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @latest_news_article.title %>
</p>
<hr> 

<p>
  <strong>Body:</strong>
  <%= @latest_news_article.body %>
</p>
<hr> 

<p>
  <strong>Image url:</strong>
  <%= @latest_news_article.image_url %>
</p>

<%= link_to 'Edit', edit_latest_news_article_path(@latest_news_article) %> |
<%= link_to 'Back', latest_news_articles_path %>
