<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group"> 
        <%= form.label :title %>
        <%= form.text_field :title, id: :blog_title, class: "form-control", required: "required" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :blog_body, class: "form-control", required: "required", rows: 10 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :image_url %>
        <%= form.text_field :image_url, id: :blog_image_url, class: "form-control", placeholder: "http://www. ... .jpg" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="actions">
        <%= form.submit class: "btn btn-4 btn-block" %>
      </div>
    </div>
  </div>
      
<% end %>
