<p id="notice"><%= notice %></p>

<h1>Blogs</h1> 

<%= link_to 'New Blog', new_blog_path, class: "btn btn-primary" %>

<table id="example" class="display blog-table" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th> 
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= blog.title %><br>
          <%= image_tag blog.image_url, class: "blog-images", title: blog.image_url %>    
        </td>
        <td>
          <h3><%= blog.title %></h3>
          <%=raw blog.body %><br><br>
          <%= link_to fa_icon("pencil") + " Edit", edit_blog_path(blog) %> | 
          <%= link_to fa_icon("trash") + " Delete", blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
