<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
<hr> 

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>
<hr>

<p>
  <strong>Image url:</strong>
  <%= @blog.image_url %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
