<div class="col-sm-4 borders righter">
			
	<!-- Latest Events -->
	<div class="righter-headings">RECENT EVENTS</div>
	<% @events.limit(5).each do |event_entry| %>
		<div class="righter-event">
			<div class="row d-flex h-100">
				<div class="col-sm-3 justify-content-center align-self-center event-left">
					<div class="event-day">
						<%= event_entry.event_date.strftime("%d") %>
					</div>
					<small>
						<%= event_entry.event_date.strftime("%b %Y") %>
					</small>
				</div>
				<div class="col-sm-9 justify-content-center align-self-center event-right">
					<%= event_entry.title %><br>
					<small><%= fa_icon "map-marker" %> <%= event_entry.event_location %></small>
				</div>
			</div>
		</div>
	<% end %>
	
	<!-- Twitter -->
	<div class="righter-headings margin-top">TWITTER FEED</div>
	<a class="twitter-timeline" data-height="2000" href="https://twitter.com/UgandaSwimming?ref_src=twsrc%5Etfw">Tweets by UgandaSwimming</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	<!-- Facebook -->
	<!-- TODO: add page plugin here -->


	
</div>