<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :event_title, class: "form-control", required: "required" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :event_date %>
        <%= form.text_field :event_date, id: :event_event_date, type: "date", class: "form-control", required: "required" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :event_location %>
        <%= form.text_field :event_location, id: :event_event_location, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="actions">
        <%= form.submit class: "btn btn-4 btn-block" %>
      </div>
    </div>
  </div>

<% end %>
