<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<hr>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>
<hr>

<p>
  <strong>Event location:</strong>
  <%= @event.event_location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
