<%= form_with(model: video_gallery_group, local: true) do |form| %>
  <% if video_gallery_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_gallery_group.errors.count, "error") %> prohibited this video_gallery_group from being saved:</h2>

      <ul>
      <% video_gallery_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :video_gallery_group_title, class: "form-control", required: "required" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :video_gallery_group_body, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="actions">
        <%= form.submit class: "btn btn-4 btn-block" %> 
      </div>
    </div>
  </div>

<% end %>
