<p id="notice"><%= notice %></p>

<h1>Video Gallery Groups</h1>

<%= link_to 'New Video Gallery Group', new_video_gallery_group_path, class: "btn btn-primary" %>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @video_gallery_groups.each do |video_gallery_group| %>
      <tr>
        <td><%= video_gallery_group.title %></td>
        <td><%= video_gallery_group.body %></td>
        <td><%= link_to 'Edit', edit_video_gallery_group_path(video_gallery_group) %></td>
        <td><%= link_to 'Destroy', video_gallery_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 

