<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video_gallery_group.title %>
</p>
<hr> 

<p>
  <strong>Body:</strong>
  <%= @video_gallery_group.body %>
</p>

<%= link_to 'Edit', edit_video_gallery_group_path(@video_gallery_group) %> |
<%= link_to 'Back', video_gallery_groups_path %>
