<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-12 lefter">
			<h1>Who we are</h1>
			<hr>

			<div class="row committee-member">
				<div class="col-sm-12">
					<h3>INTRODUCTION</h3>
					<p>The Federation is recognized as the only national amateur aquatics sports association responsible for Aquatics Sports in Uganda i.e. Swimming, Open Water Swimming, Diving, Water Polo, Synchronized Swimming and Masters Program or activities, and is affiliated to NCS, FINA - Fedération Intérnationale de Natation, CANA - Confédération Africaine de Natation, and UOC - the Uganda Olympic Committee</p>

					<p>The Uganda Swimming Federation started in 1978 as an amateur sports association, then called Uganda Swimming Association. The Federation has metamorphosed into what it is currently, a focused and forward looking organization with plans to overhaul Swimming and other water sports.</p><br>

					<h3>MISSION</h3>
					<p>To promote and develop Swimming and other aquatic sports in Uganda to internationally competitive standards</p><br>

					<h3>EXECUTIVE COMMITTEE</h3>
					<p>The following were elected to the new Executive at the Saturday 18th March 2017 Annual General Assembly for a 4-year term.</p><br>
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/don.jpg", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Dr. Donald Rukare</div>
					<div class="committee-role">President</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/petermugisha.jpg", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Peter Simon Mugisha</div>
					<div class="committee-role">1st Vice President (Administration)</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/muzafaru.jpg", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Muzafaru MUWANGUZI</div>
					<div class="committee-role">2nd Vice President (Technical)</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/mosesmwase.jpg", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Moses B. Mwase</div>
					<div class="committee-role">General Secretary</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Albert Shinnosuke WASSWA</div>
					<div class="committee-role">Asst. General Secretary</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Ms. Florence NAKAKAWA</div>
					<div class="committee-role">Treasurer</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mrs. Annette Tumusiime MWEBEIHA</div>
					<div class="committee-role">Asst. Treasurer</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Max KANYEREZI</div>
					<div class="committee-role">Competitions Secretary</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Ms. Elizabeth KABAHENDA</div>
					<div class="committee-role">Assistant Competitions Secretary</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/ganzi.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Ganzi Mugula</div>
					<div class="committee-role">Executive Committee Member (Athletes' Representative)</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Ms. Lillian MUGISHA</div>
					<div class="committee-role">Executive Committee Member</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/nana.jpg", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Dr. Nana Jacqueline NAKIDDU</div>
					<div class="committee-role">Executive Committee Member</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Williams BUYONDO</div>
					<div class="committee-role">Executive Committee Member</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Stephen KATUMBA</div>
					<div class="committee-role">Executive Committee Member</div>					
				</div>
				<div class="col-sm-3">
					<%= image_tag "committee/anon.png", alt: "Committee Member Image", class: "committee-image img-thumbnail" %>
					<div class="committee-names">Mr. Erick KISERO</div>
					<div class="committee-role">Executive Committee Member</div>					
				</div>
			</div>			
		</div>
	</div>
</div>