<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-12 lefter">
			<h1>Athletes</h1>
			<hr>

			<div class="row">
				<div class="col-sm-12">
					The USF is required to have in place a USF Athletes' Committee comprised of 10 athletes (2 nominated by USF Executive Committee and 8 elected)
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-4">
							<%= image_tag "athletes/EMITU.jpeg", alt: "Athlete Image", class: "athlete-image img-thumbnail" %>
						</div>
						<div class="col-sm-8">
							<% athlete = "Alvin EMITU" %>
							<div class="athletes-names"><%= athlete %></div>
							Athletes Committee Member<br><br>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-4">
							<%= image_tag "athletes/bwambale.png", alt: "Athlete Image", class: "athlete-image img-thumbnail" %>
						</div>
						<div class="col-sm-8">
							<% athlete = "Bwambale AHEBWA" %>
							<div class="athletes-names"><%= athlete %></div>
							Athletes Committee Member<br><br>

							<%= fa_icon "phone" %> <a href="tel:+256777788707">+256-777-788707</a><br>
							<%= fa_icon "envelope" %> <a href="mailto:kb.ahebwa@gmail.com" target="_blank">kb.ahebwa@gmail.com</a><br><br>

							<a href="#" data-toggle="modal" data-target="#myModal">Read Swimming Background</a>
							
							<!-- The Modal -->
							<div class="modal fade" id="myModal">
								<div class="modal-dialog  modal-lg modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title"><%= athlete %></h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											I first stepped into the pool in 2007 at Makerere swimming pool and breaststroke was the first stroke I got comfortable with. Focus changed from fun to a competitive mindset in 2012. Working together with Coach Derek Muluya (who was also just learning how to swim), we pushed for a swim team at Uganda Christian University of which we were successful and participated in our first competitions in 2013. I happened to interact with clubs in Kenya like Otters swim club and YMCA-Nairobi who helped me improve on my techniques.
											<br><br>
											From then onwards I’ve participated in several internal competitions hosted by clubs and USF from where I have interacted with great national swimmers that in one way or another have contributed to my life generally. The greatest influence of them all has been Coach Derek Muluya who has become closer than a brother, pushing me beyond my limits in all aspects of life.
											<br><br>
											I currently do private coaching at Rest Gardens with an aim of teaching people how to “swim” and not just play in the water. I strongly believe that everyone needs to learn basics of swimming, not necessarily to compete but for the many physical, medical and psychological benefits it entails.
										</div>
									</div>
								</div>
							</div> <!-- Modal -->
						</div>
					</div>
				</div>
				<div class="col-sm-6">Ms. Avice Meya (Chairperson), Silverfin.</div>
				<div class="col-sm-6">Mr. Isma Serunjogi(Secretary), Supra</div>
				<div class="col-sm-6">Mr. Peter Mbabazi, Member, Seals</div>
				<div class="col-sm-6">Mr. Ronald Daisuke,Member ,Makerere</div>
				<div class="col-sm-6">Ms. Rachel Galinda, Member, Altona</div>
				<div class="col-sm-6">Mr. Alvin Emitu, Member, Silverfin</div>
				<div class="col-sm-6">Mr. Benon Wamala, Member, Kampala Acqutic.</div>
				<div class="col-sm-6">Ms. Joel Mayengo, Member, (Gliders /Seeta)</div>
				<div class="col-sm-6">Ms. Ahebwa Bwambale, Member, UCU Mukono</div>
			</div>		
		</div>
	</div>
</div>