<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-12 lefter">
			<h1>Calendars</h1>
			<h3>Downloadable Calendars</h3>
			<hr>

			<h2>2018</h2>
			<a target="_blank" href="http://ugandaswimming.org/sites/default/files/USF National Calender 2018 (Draft V - 5 Feb 2018).pdf">USF National Calender 2018 (Draft V - 5 Feb 2018)</a><br><br>

			<h2>2017</h2>
			<a target="_blank" href="http://ugandaswimming.org/sites/default/files/2017 USF 2017 ACTIVITIES CALENDAR - 16 Jan 2017.pdf">USF 2017 ACTIVITIES CALENDAR</a><br><br>
			    
			<h2>2016</h2>
			<a target="_blank" href="http://ugandaswimming.org/sites/default/files/calendar/2016 NON-USF ACTIVITIES CALENDAR.pdf">2016 NON-USF ACTIVITIES CALENDAR</a><br>
			<a target="_blank" href="http://ugandaswimming.org/sites/default/files/calendar/usfcalendar2.pdf">2016 USF ACTIVITIES CALENDAR.pdf</a>
		</div>
	</div>
</div>