<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-12 lefter">
			<h1>Contact us</h1>
			<hr>

			<%= form_tag contact_path, name: "form1" do %>
			<div class="row">
				<div class="col-sm-6">
					<div class="row email-form">
						<div class="col-md-12">
							<div class="form-group">
								<p class="form-headings">Full Name:</p>
								<input type="text" class="form-control input-lg" name="fullname" id="fullname" required="required">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<p class="form-headings">Email:</p>
								<input type="email" class="form-control input-lg" name="email" id="email" required="required">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<p class="form-headings">Subject:</p>
								<input type="text" class="form-control input-lg" name="subject" id="subject" required="required">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<p class="form-headings">Message:</p>
								<textarea class="form-control" rows="5" name="message" id="message" required="required"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<%= submit_tag 'Send', class: "btn btn-4 btn-block" %>
						</div>
					</div>	
				</div>

				<div class="col-sm-6"></div>
			</div> 
			<% end %>
		</div>
	</div>
</div>