<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-8 lefter">
			<h1>All Events</h1>
			<hr>

			<table id="example" style="width:100%">
			  <thead style="display: none;"> <!-- Must be present to work -->
			    <tr>
			      	<th>&nbsp;</th>
			    </tr>
			  </thead>

			  <tbody>
			  	<% @events_blogs.each do |event_blog| %>
			  		<tr>
			  			<td>
							<div class="event-entry">
								<h2><%= event_blog.title %></h2>

								<% unless event_blog.image_url.nil? %>
									<%= image_tag event_blog.image_url, class: "img-thumbnail" %>
								<% end %>

								<p><%=raw event_blog.body %></p> <!-- raw for html content -->
								<!-- event_blog.body[0..300].gsub(/\s\w+\s*$/,'...') -->

								Last updated: <%= event_blog.updated_at.strftime("%d %b %Y at %H:%M") %>
							</div>
						</td>
					</tr>
				<% end %>
			  </tbody>
			</table>
		</div>
		
		<!-- Righter partial -->
		<%= render "shared/righter" %>

	</div>
</div>

<!-- Datatables -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	    $('#example').DataTable({
	    	ordering: false,
	    	"lengthMenu": [[5, 10, 15], [5, 10, 15]]
	    });
	} );
</script>