<!-- Container for the image gallery -->
<div class="gallery-group">
	<div class="container-fluid largepadding">
		<small>IMAGE GALLERY:</small>
		<h2><%= @image_gallery_groups.where(id: params[:id])[0].title %></h2>

		<% @image_gallery_items.where(image_gallery_name: params[:id].to_s).each do |image_entry| %>
			<div class="mySlides">
				<div class="numbertext"></div>
				<%= image_tag image_entry.image_url, alt: "Gallery Image" %>
			</div>
		<% end %>

		<!-- Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>

		<!-- Image text -->
		<div class="caption-container">
			<p id="caption"></p>
		</div

		<!-- Thumbnail images -->
		<div class="row">
			<% index = 1 %>
			<% @image_gallery_items.where(image_gallery_name: params[:id].to_s).each do |image_entry| %>
				<div class="col-sm-2">
					<%= image_tag image_entry.image_url, class: "demo cursor", onclick: "currentSlide(#{index})", alt: "Gallery Image" %>
				</div>
				<% index += 1 %>
			<% end %>
		</div>
	</div>
</div>

<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	// Next/previous controls
	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	// Thumbnail image controls
	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("demo");
		var captionText = document.getElementById("caption");
		
		if (n > slides.length) {slideIndex = 1}
		
		if (n < 1) {slideIndex = slides.length}
		
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		
		slides[slideIndex-1].style.display = "block";
		dots[slideIndex-1].className += " active";
		captionText.innerHTML = dots[slideIndex-1].alt;
	}
</script>