<div class="gallery-section largepadding">
	<div class="row">
		<% @image_gallery_groups.each do |item| %>
			<div class="col-md-3">
				<div class="card mb-4 box-shadow">
					<% @image_gallery_items.each do |imageitem| %>
						<% if imageitem.image_gallery_name.to_i == item.id %>
							<%= image_tag imageitem.image_url, class: "card-img-top gallery-entry", alt:"Image" %>
							<% break %>						
						<% end %>
					<% end %>
					
					<div class="card-body">
						<p class="card-text"><%= item.title %></p>
						<p class="card-text"><%=raw item.body %></p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<%= link_to "View", "#{gallery_group_path}?id=#{item.id}", class: "btn btn-sm btn-outline-secondary" %>
							</div>
							<small class="text-muted">Last updated: <%= item.updated_at.strftime("%d %b %Y") %></small>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>