<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<!-- PS: Don't forget about this area when adding or removing carousel items -->
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<%= image_tag "carousel/2.jpg", class: "first-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption"> <!-- text-left -->
					<div class="carousel-headings">Uganda Swimming Federation</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/3.jpg", class: "second-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption">
					<div class="carousel-headings">Uganda Swimming Federation</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/1.jpg", class: "third-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption"> <!-- text-right -->
					<div class="carousel-headings">Uganda Swimming Federation</div>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<% unless @latest_news_article.nil? %>
	<div class="container-fluid news">
		<div class="card text-center">
			<div class="card-header">
				Important Notice
			</div>
			<div class="card-body">
				<div class="card-title"><%= @latest_news_article.title %></div>
				<p><%=raw @latest_news_article.body %></p>
			</div>
		</div>
	</div>
<% end %>

<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-8 lefter">
			<h1>Latest Events</h1>
			<hr>

			<table id="example" style="width:100%">
			  <thead style="display: none;"> <!-- Must be present to work -->
			    <tr>
			      	<th>&nbsp;</th>
			    </tr>
			  </thead>

			  <tbody>
			  	<% @events_blogs.each do |event_blog| %>
			  		<tr>
			  			<td>
							<div class="event-entry">
								<h2><%= event_blog.title %></h2>

								<% unless event_blog.image_url.nil? %>
									<%= image_tag event_blog.image_url, class: "img-thumbnail" %>
								<% end %>

								<p><%=raw event_blog.body %></p> <!-- raw for html content -->
								<!-- event_blog.body[0..300].gsub(/\s\w+\s*$/,'...') -->

								Last updated: <%= event_blog.updated_at.strftime("%d %b %Y at %H:%M") %>
							</div>
						</td>
					</tr>
				<% end %>
			  </tbody>
			</table>
		</div>
		
		<!-- Righter partial -->
		<%= render "shared/righter" %>

	</div>

	<div class="row photo-gallery">
		<h1>Photo Gallery</h1>
		<hr>
		<small>LATEST ENTRIES:</small>
		
		<div class="row">
			<% @image_gallery_items.limit(12).each do |item| %>
				<div class="col-sm-2">
			  		<% unless item.image_url.nil? %>
			  			<%= link_to image_tag(item.image_url, class: "img-thumbnail home-gallery-image"), gallery_path %>
					<% end %>
				</div>
			<% end %>
		</div>
		<%= link_to "View Photo Galleries", gallery_path, class: "btn btn-primary" %>
	</div>

	<div class="row major-sponsors">
		<h1>Major Sponsors</h1>
		<hr>
		
		<div class="row">
			<div class="col-sm-4">
				<%= link_to image_tag("sponsors/dstv.jpg", class: "img-thumbnail", alt: "Major Sponsor"), "https://www.dstv.com/en-ug", target: "_blank" %>
			</div>
			<div class="col-sm-4">
				<%= link_to image_tag("sponsors/umeme.jpg", class: "img-thumbnail", alt: "Major Sponsor"), "https://www.umeme.co.ug/", target: "_blank" %>
			</div>
			<div class="col-sm-4">
				<%= link_to image_tag("sponsors/rwenzori.jpg", class: "img-thumbnail", alt: "Major Sponsor"), "https://www.facebook.com/rwenzoribottlingcompany/", target: "_blank" %>
			</div>
		</div>
	</div>

	<div class="row partners">
		<h1>USF Partners</h1>
		<hr>
		
		<div class="col-sm-12">
			<div class="row nopadding">
				<div class="col-sm-2">
					<%= link_to image_tag("sponsors/uoc.png", class: "img-thumbnail", alt: "USF Sponsor"), "http://nocuganda.org/", target: "_blank" %>
				</div>
				<div class="col-sm-2">
					<%= link_to image_tag("sponsors/excel.png", class: "img-thumbnail", alt: "USF Sponsor"), "https://exico.co.ug", target: "_blank" %>
				</div>
				<div class="col-sm-2">
					<%= link_to image_tag("sponsors/ruparelia.jpg", class: "img-thumbnail", alt: "USF Sponsor"), "https://www.rupareliagroup.com", target: "_blank" %>
				</div>			
				<div class="col-sm-2">
					<%= link_to image_tag("sponsors/midland.png", class: "img-thumbnail", alt: "USF Sponsor"), "http://midlandgroup.net", target: "_blank" %>
				</div>
				<div class="col-sm-2">
					<%= image_tag "sponsors/rwak.jpg", class: "img-thumbnail", alt: "USF Sponsor" %>
				</div>
				<div class="col-sm-2">
					<%= image_tag "sponsors/ncs.jpg", class: "img-thumbnail", alt: "USF Sponsor" %>
				</div>
			</div>
			<div class="row nopadding">
				<div class="col-sm-2"></div>
				<div class="col-sm-4">
					<%= link_to image_tag("sponsors/gems.jpg", class: "img-thumbnail", alt: "USF Sponsor"), "http://www.gemseducation.co.ug", target: "_blank" %>
				</div>
				<div class="col-sm-2">
					<%= link_to image_tag("sponsors/coke.png", class: "img-thumbnail", alt: "USF Sponsor"), "http://www.coca-cola.co.ug/en/home/", target: "_blank" %>
				</div>
				<div class="col-sm-2">
					<%= link_to image_tag("sponsors/isu.jpg", class: "img-thumbnail", alt: "USF Sponsor"), "http://www.isu.ac.ug/", target: "_blank" %>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</div>


<!-- Datatables -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	    $('#example').DataTable({
	    	ordering: false,
	    	"lengthMenu": [[5, 10, 15], [5, 10, 15]]
	    });
	} );
</script>