<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-12 lefter">
			<h1>USF Members</h1>
			<h3>31st December 2018</h3>
			<hr>

			<table style="width:100%">
				<tr><th style="min-width: 200px;">CERTIFICATE NO.</th><th>SWIMMING CLUB</th><th>REG. NO</th></tr>  
				<tr><td>001</td><td> <a href="http://dolphinsswimclub.ug" target="_blank">Dolphins Swim Club</a> </td><td>Reg No. USF/SC/0001</td></tr><tr><td>
				002</td><td> <a href="http://seals.ug" target="_blank">Seals Swim Club</a></td><td>Reg No. USF/SC/0002</td></tr><tr><td>
				003</td><td> <a href="http://www.sailfishswimclub.org" target="_blank">Sailfish Swim Club</a></td><td>Reg No. USF/SC/0003</td></tr><tr><td>
				004</td><td> Shark Teen Swim Academy</td><td>Reg No. USF/SC/0004</td></tr><tr><td>
				005</td><td> Altona Swim Club</td><td>Reg No. USF/SC/0005</td></tr><tr><td>
				006</td><td> <a href="http://www.glidersswimclub.com" target="_blank">Gliders Swim Club</a></td><td>Reg No. USF/SC/0006</td></tr><tr><td>
				007</td><td> <a href="http://silverfinacademy.org" target="_blank">Silverfin Swim Club</a></td><td>Reg No. USF/SC/0007</td></tr><tr><td>
				008</td><td> Supra Swim Club</td><td>Reg No. USF/SC/0008</td></tr><tr><td colspan="3" style="height: 100px;">

				<strong>PRIMARY SCHOOLS</strong></td></tr><tr><td>
				009</td><td> <a href="https://www.greenhillacademy.ac.ug" target="_blank">Green Hill Academy</a></td><td>Reg No. USF/PS/0009</td></tr><tr><td>
				010</td><td> <a href="https://www.seetaparents.org" target="_blank">Seeta Primary School</a></td><td>Reg No. USF/PS/0010</td></tr><tr><td>
				011</td><td> <a href="http://www.agakhanschools.org/uganda" target="_blank">Aga Khan Academy</a></td><td>Reg No. USF/PS/0011</td></tr><tr><td>
				012</td><td> <a href="http://hormisdallenschools.com" target="_blank">Hormisdallen Primary School</a></td><td>Reg No. USF/PS/0012</td></tr><tr><td>
				013</td><td> <a href="https://www.kampalaparents.com" target="_blank">Kampala Parents School</a></td><td>Reg No. USF/PS/0013</td></tr><tr><td>
				014</td><td> <a href="http://sirapollokaggwaschools.com" target="_blank">Sir Apollo Kaggwa Primary School</a></td><td>Reg No. USF/PS/0014</td></tr><tr><td>
				015</td><td> Montessori School</td><td>Reg No. USF/PS/0015</td></tr><tr><td>
				016</td><td> Hannah Mixed School</td><td>Reg No. USF/PS/0016</td></tr><tr><td>	
				017</td><td> French School</td><td>Reg No. USF/PS/0017</td></tr><tr><td>
				018</td><td> Daffodils</td><td>Reg No. USF/PS/0018</td></tr><tr><td>
				019</td><td> <a href="http://gisu.ac.ug" target="_blank">Galaxy International School</a></td><td>Reg No. USF/PS/0019</td></tr><tr><td>
				020</td><td> <a href="http://www.bskampala.com" target="_blank">British School of Uganda</a></td><td>Reg No. USF?PS/0020</td></tr><tr><td>
				021</td><td> <a href="https://www.ais.ac.ug" target="_blank">Acorn International School</a></td><td>Reg No. USF/PS/0021</td></tr><tr><td>
				022</td><td> Golden Berry Primary School</td><td>Reg No. USF/PS/0022</td></tr><tr><td>
				023</td><td> <a href="http://www.ambrosolischool.com" target="_blank">Ambrossoli International School</a></td><td>Reg No. USF/PS/0023</td></tr><tr><td colspan="3" style="height: 100px;">

				<strong>SECONDARY SCHOOLS</strong></td></tr><tr><td>
				024</td><td> <a href="http://rainbowinternationalschool.com" target="_blank">Rainbow International School of Uganda</a></td><td>Reg No. USF/SS/0024</td></tr><tr><td>
				025</td><td> <a href="http://www.kisu.com" target="_blank">Kampala International School of Uganda</a></td><td>Reg No. USF/SS/0025</td></tr><tr><td>
				026</td><td> <a href="https://www.isu.ac.ug" target="_blank">International School of Uganda</a></td><td>Reg No. USF/SS/0025</td></tr><tr><td>
				027</td><td> <a href="http://www.heritage.co.ug" target="_blank">Heritage International School</a></td><td>Reg No. USF/SS/0027</td></tr><tr><td>
				028</td><td> <a href="http://www.gemscis-kampala.com" target="_blank">Gems Cambridge International School</a></td><td>Reg No. USF/SS/0028</td></tr><tr><td>
				029</td><td> Kings College Budo</td><td>Reg No. USF/SS/0029</td></tr><tr><td>
				030</td><td> Green Hill</td><td>Reg No. USF/SS/0030</td></tr><tr><td>
				031</td><td> Seeta High School</td><td>Reg No. USF/SS/0031</td></tr><tr><td>
				032</td><td> Rubaga Girls School</td><td>Reg No. USF/SS/0032</td></tr><tr><td>
				033</td><td> <a href="http://stmaryscollegekisubi.sc.ug" target="_blank">St Mary’s College Kisubi</a></td><td>Reg No. USF/SS/0033</td></tr><tr><td>
				034</td><td> <a href="http://www.gayazahs.sc.ug" target="_blank">Gayaza High School</a></td><td>Reg No. USF/SS/0034</td></tr><tr><td>
				035</td><td> <a href="http://slau.ac.ug" target="_blank">St Lawrence Schools</a></td><td>Reg No USF/SS/0035</td></tr><tr><td>
				036</td><td> Bethany School</td><td>Reg No. USF/SS/0036</td></tr><tr><td>
				037</td><td> Taibah High School</td><td>Reg No. USF/SS/0037</td></tr><tr><td>
				038</td><td> <a href="http://vienna.ug/index.php/en/" target="_blank">Vienna College School</a></td><td>Reg No. USF/SS/0038</td></tr><tr><td>
				039</td><td> Ntinda View College</td><td>Reg No. USF/SS/0039</td></tr><tr><td>
				040</td><td> Taibah College School</td><td>Reg No. USF/SS/0040</td></tr><tr><td>
				041</td><td> <a href="http://nabisunsagirls.ac.ug" target="_blank">Nabisunsa Girls School</a></td><td>Reg No. USF/SS/0041</td></tr><tr><td>
				042</td><td> Mbale Senior Secondary School</td><td>Reg No. USF/SS/042</td></tr><tr><td colspan="3" style="height: 100px;">

				<strong>TERTIARY INSTITUTITIONS</strong></td></tr><tr><td>
				043</td><td> <a href="https://www.mak.ac.ug" target="_blank">Makerere University</a></td><td>Reg No. USF/TI/0043</td></tr><tr><td>
				044</td><td> <a href="http://www.ndejjeuniversity.ac.ug" target="_blank">Ndejje University</a></td><td>Reg No. USF/TI/0044</td></tr><tr><td>
				045</td><td> <a href="http://ucu.ac.ug" target="_blank">UCU Mukono University</a></td><td>Reg No. USF/TI/0045</td></tr><tr><td>
				046</td><td> <a href="http://kiu.ac.ug" target="_blank">Kampala International University</a></td><td>Reg No. USF/TI/0046</td></tr><tr><td>
				047</td><td> <a href="http://www.nkumbauniversity.ac.ug" target="_blank">Nkumba University</a></td><td>Reg No. USF/TI/0047</td></tr>
			</table>
		</div>
	</div>
</div>