<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image_gallery_group.title %>
</p>
<hr> 

<p>
  <strong>Body:</strong>
  <%= @image_gallery_group.body %>
</p>

<%= link_to 'Edit', edit_image_gallery_group_path(@image_gallery_group) %> |
<%= link_to 'Back', image_gallery_groups_path %>
