<%= form_with(model: video_gallery_item, local: true) do |form| %>
  <% if video_gallery_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_gallery_item.errors.count, "error") %> prohibited this video_gallery_item from being saved:</h2>

      <ul>
      <% video_gallery_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :video_gallery_item_title, class: "form-control", required: "required" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :video_gallery_item_body, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :image_url %>
        <%= form.text_field :image_url, id: :video_gallery_item_image_url, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :video_url %>
        <%= form.text_field :video_url, id: :video_gallery_item_video_url, class: "form-control", required: "required" %>
      </div>
    </div>
  </div>

  <% groupid = video_gallery_item[:video_gallery_name].to_i  %>

  <div class="row">
    <div class="col-sm-12">
      <div class="field form-group">
        <%= form.label :video_gallery_name %>
        <select name="video_gallery_item[video_gallery_name]" id="<%= :video_gallery_item_video_gallery_name %>" class="form-control">
          <% @gallerygroups.each do |groupname| %>
            <option <%= groupid == groupname[:id] ? "selected=\"selected\"" : "" %> value="<%= groupname[:id] %>"><%= groupname[:title] %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="actions">
        <%= form.submit class: "btn btn-4 btn-block" %>
      </div>
    </div>
  </div>

<% end %>
