<p id="notice"><%= notice %></p>

<h1>Video Gallery Items</h1>

<%= link_to 'New Video Gallery Item', new_video_gallery_item_path, class: "btn btn-primary" %>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image url</th>
      <th>Video url</th>
      <th>Video gallery name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @video_gallery_items.each do |video_gallery_item| %>
      <tr>
        <td><%= video_gallery_item.title %></td>
        <td><%= video_gallery_item.body %></td>
        <td><%= video_gallery_item.image_url %></td>
        <td><%= video_gallery_item.video_url %></td>
        <td><%= @gallerygroups.find(video_gallery_item.video_gallery_name.to_i)[:title] %></td>
        <td><%= link_to 'Edit', edit_video_gallery_item_path(video_gallery_item) %></td>
        <td><%= link_to 'Destroy', video_gallery_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
