<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video_gallery_item.title %>
</p>
<hr>

<p>
  <strong>Body:</strong>
  <%= @video_gallery_item.body %>
</p>
<hr>

<p>
  <strong>Image url:</strong>
  <%= @video_gallery_item.image_url %>
</p>
<hr>

<p>
  <strong>Video url:</strong>
  <%= @video_gallery_item.video_url %>
</p>
<hr>

<p>
  <strong>Video gallery name:</strong>
  <%= @video_gallery_item.video_gallery_name %>
</p>

<%= link_to 'Edit', edit_video_gallery_item_path(@video_gallery_item) %> |
<%= link_to 'Back', video_gallery_items_path %>
