@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Spinnaker');

$cormorant: 'Cormorant Garamond', serif;
$spinnaker: 'Spinnaker', sans-serif;
$accent_color: #FF9900;
$primary_color: #0000ff;

body {
	padding: 3rem 0 0 0;
	color: #5a5a5a;
	font-family: $spinnaker;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: -0.3px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $cormorant;
}
h1, h2 {
	line-height: 100px;
	letter-spacing: -1px;
	color: #000;
}
h1 {
	font-size: 80px;
}
h2 {
	font-size: 60px;
}
hr {
	width: 100%;
	color: #ddd;
	margin-top: 0;
	margin-bottom: 0;
}
p {
	color: #000;
}
.row {
	margin: 0 !important;
}
.nopadding {
	padding: 0 !important;
}
.largepadding {
	padding: 50px 15px;
}
.centered {
	text-align: center;
}
.margin-top {
	margin-top: 50px !important;
}
.white {
	color: white;
}
.borders {
	border: 1px solid #ddd;
	border-radius: 5px;
}



main {
	margin-top: 50px;
}
.alert-msg {
	position: fixed;
	z-index: 10;
	top: 130px;
}
.navbar {
	background-image: url("navbg2.jpg");
	background-repeat: repeat-y;
}
.nav-item {
	padding-left: 15px;
}


/* Carousel */
.carousel {
	margin-bottom: 30px;
}
.carousel-caption {
	bottom: 0;
	z-index: 10;
}
.carousel-item {
	height: 32rem;
	background-color: #777;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
}
.carousel-headings {
	font-family: $cormorant;
	font-size: 70px;
	line-height: 100px;
	letter-spacing: -1px;
	color: $primary_color;
}

@media (min-width: 40em) {
	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}

.card-header {
	background-image: url("navbg2.jpg");
	background-repeat: no-repeat;	
	color: white;
	font-size: 25px;
	text-transform: uppercase;
}
.news {
	margin-bottom: 30px;
}



/* --------------------------------
MAJOR BODY [LEFTER AND RIGHTER]
----------------------------------*/
.major-body {

	.row {
		padding: 30px 0;
	}
	h2 {
		color: $primary_color;
		line-height: 50px;
		font-size: 50px;
	}
}
.lefter {

}
.righter {
	color: black; 

	.row {
		padding: 15px 0;
	}

	.righter-headings {
		background-color: #ccc;
	    text-transform: uppercase;
	    font-size: 20px;
	    width: 100%;
	    padding: 5px 10px;
	    margin: 10px 0;
	    color: #333;
	}
	.event-day {
		font-family: $cormorant;
		font-size: 60px;
		margin-bottom: 15px;
	}
	.righter-event {
		margin-bottom: 5px;
	}
	.event-left {
		background-color: #4286f4;
		color: white;
		text-align: center;
	}
	.event-right {
		color: #333;
		font-size: 14px;
	}
}
.event-entry {
	padding: 15px 0;

	img {
		width: 100%;
		margin: 5px 0;
	}
}
.home-gallery-image {
	width: 100%;
}
.large-footer {
	background-color: #0A4498;
	color: white;

	a {
		color: white;
	}
	a:hover {
		color: aqua;
		text-decoration: none;
	}
	.fa {
		font-size: 50px;
		color: white;
		margin-right: 10px;
	}
	.fa:hover {
		color: aqua;
	}
}
.gallery-section {
	
}
.gallery-entry {
	width: 100%; 
	display: block;
}

.gallery-group {

	box-sizing: border-box;

	h2 {
		line-height: 50px;
		font-size: 50px;
	}

	img {
		width:100%
	}

	/* Position the image container (needed to position the left and right arrows) */
	.container-fluid {
		position: relative;
	}

	/* Hide the images by default */
	.mySlides {
		display: none;
	}

	/* Add a pointer when hovering over the thumbnail images */
	.cursor {
		cursor: pointer;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 40%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 15px;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	/* Container for image text */
	.caption-container {
		text-align: center;
		background-color: #222;
		padding: 2px 16px;
		color: white;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Six columns side by side */
	.column {
		float: left;
		width: 16.66%;
	}

	/* Add a transparency effect for thumnbail images */
	.demo {
		opacity: 0.6;
	}

	.active,
	.demo:hover {
		opacity: 1;
	}
}

.major-sponsors {
	
	img {
		width: 100%;
	}
}

.partners {
	
	img {
		margin: 5px 0;
	}
}

.footer-event {
	margin-bottom: 10px;

	.fa {
		font-size: 15px;
		color: #bbb;
	}
	.footer-event-details {
		font-size: 14px;
		color: #bbb;	
	}
}

.athlete-image {
	max-width: 205px;
	width: 100%;
}
.athletes-names {
	font-size: 30px;
}
.committee-image {
	max-width: 200px;
	width: 100%
}
.committee-names {
	font-size: 17px;	
	font-weight: bold;
}
.committee-member  {
	.col-sm-3 {
		margin-bottom: 40px;
		text-align: center;
	}
}
.committee-role {
	font-style: italic;
}
.email-form {
	p {
		margin: 0;
	}
}