<p id="notice"><%= notice %></p>

<h1>Image Gallery Items</h1>

<%= link_to 'New Image Gallery Item', new_image_gallery_item_path, class: "btn btn-primary" %>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image url</th>
      <th>Image gallery name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @image_gallery_items.each do |image_gallery_item| %>
      <tr>
        <td><%= image_gallery_item.title %></td>
        <td><%= image_gallery_item.body %></td>
        <td><%= image_gallery_item.image_url %></td>
        <td><%= @gallerygroups.find(image_gallery_item.image_gallery_name.to_i)[:title] %></td>
        <td><%= link_to 'Edit', edit_image_gallery_item_path(image_gallery_item) %></td>
        <td><%= link_to 'Destroy', image_gallery_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 

