<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image_gallery_item.title %>
</p>
<hr>

<p>
  <strong>Body:</strong>
  <%= @image_gallery_item.body %>
</p>
<hr>

<p>
  <strong>Image url:</strong>
  <%= @image_gallery_item.image_url %>
</p>
<hr>

<p>
  <strong>Image gallery name:</strong>
  <%= @image_gallery_item.image_gallery_name %>
</p>

<%= link_to 'Edit', edit_image_gallery_item_path(@image_gallery_item) %> |
<%= link_to 'Back', image_gallery_items_path %>
