<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- for search engine description -->
	<meta name="description" content="Uganda Swimming Federation">
	
	<title><%= @page_title %></title>
	
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'scaffolds' %>
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- Datatables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	
</head>

<body>
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dashboard</a>
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<% if current_user %>
					<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "signoutlink" %>
				<% else %>	
					<% controller.redirect_to home_path %>
				<% end %>
			</li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<%= link_to "Latest News", latest_news_articles_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Blogs", blogs_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Events", events_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Image Gallery", image_gallery_items_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "> Image Gallery Groups", image_gallery_groups_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Video Gallery", video_gallery_items_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "> Video Gallery Groups", video_gallery_groups_path, class: "nav-link" %>
						</li>						
						<li class="nav-item">
							<%= link_to "USF HOME", home_path, class: "nav-link" %>
						</li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 padding-bottom">
				
				<%= yield %>

			</main>
		</div>
	</div>

	<!-- Datatables -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#example').DataTable();
		} );
	</script>

</body>
</html>